/*
Folha de estilo do site one page HTML5 e CSS3
@author Felipe Bardini
*/

/* Smartphone Portrait */
/* Smartphone Landscape */
@media  (min-width: 576px){
    body{
        background-color: rgb(255, 0, 221);
    }
}
/* Tablet Portrait */
@media  (min-width: 768px){
    body{
        background-color: rgb(23, 15, 58);
    }
}
/* Tablet Landscape */
@media  (min-width: 992px){
    body{
        background-color: rgb(18, 235, 126);
    }
}
/* PC */
@media  (min-width: 1200px){
    body{
        background-color: rgb(219, 218, 224);
    }
}
